body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
  padding: 20px;
}

th {
  text-align: center;
}